.g-dotask {
  background: #fff;
  height: 100%;
  padding: 15px 20px;
}

.g-dotask>div {
  margin: 0 15px 15px 0;

}

.g-dotask>div:nth-child(4n) {
  margin-right: 0;
}

.m-taskitem {
  width: calc( (100% - 45px )/4 );
  float: left;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: .2s;
  position: relative;
}


.m-taskitem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.finished:before {
  content: "F";
  display: flex;
  width: 20px;
  height: 20px;
  background: #ff6600;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
}

.m-taskitem-title {
  padding: 20px;
  font: bold 14px/1 "microsoft yahei";
  color: #333;
  border-bottom: 1px solid #ccc;
}

.g-dotask .m-taskitem-cnt {
  padding: 10px 20px;
}
.m-taskitem-cnt li,.m-filelist li  {
  list-style: none;
}

.m-task-func {
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  background: #eee;
  color: #666;
  text-align: right;
  transition: .3s;
}

.m-task-func:hover{
  background: #ff6600;
  color: #fff;
}


.m-task-func {
  display: flex;
  flex-direction: row;
}


.m-filelist {
  display: flex;
  flex:1;
}

.m-task-func>div>li {
  width: 20px;
  height: 20px;
  background: #009900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.m-task-func>div>.fn-hide {
  display: none;
}